head, html{
    margin: 0;
    background-color: black
}
.heading{
    margin-top: 0px;
    background-color: black;
    height: 80vh;
}

.titulo{
    font-family: helvetica;
    color: white
}

.top{
    display: flex;
    justify-content: center;
}

.logo{
    height: 380px;
    width: 400px;
}