.c-bg{
    width: 100vw;
    z-index: -2;
}
.bg{
    widows: 100vw;
    z-index: -3;
}
.titulo{
    font-family: helvetica;
    font-size: 200%;
    color: white
}
.titulo2{
    margin-left: 1em;
    font-family: helvetica;
    font-size: 300%;
    color: black;
}
.titulo3{
    font-family: helvetica;
    font-size: 170%;
    color: white
}

.nombre{
    font-size: 170%;
    color: black;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

.b-desc{
    margin-right: .25em;
    margin-left: .25em;
    font-family: times;
    font-size: 23px;
}

.content{
    position: relative;
    top: 100vh;
}

head, html{
    margin: 0;
    background-color: black;
    
    position:sticky;
    
    
}
    .heading{
        margin-top: 0em;
        background-color: black;
        height: 100vh;
        position: fixed;
        z-index: -1;
        width: 100%;
        
    }


    .top{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but  mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        -ms-flexbox-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .logo{
        height: 48vh;
        width: auto;
    }

.nosotros{
    margin-right: 1em;
        margin-left: 1em;
    background-color: white;
    font-family: 200%;
    opacity: 0.999;
}

    .perfiles{
        margin-right: 1em;
        margin-left: 1em;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        -ms-flexbox-justify-content: space-around;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -ms-flexbox-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        background-color: white;
        
    
    }

        .total{
            width: 37rem;
            }

        .rodo{
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            width: 37rem;
            -ms-flexbox-justify-content: space-around;
            -webkit-justify-content: space-around;
            justify-content: space-around;
    
            }

                .rodo-pic{
                    height: 300px;
                    width: 300px;
                }

        .toño{
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            width: 37rem;
            -ms-flexbox-justify-content: space-around;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            }


                .toño-pic{
                    height: 300px;
                    width: 300px;
                }

.tarjeta-2{
    margin-right: 1em;
        margin-left: 1em;
    background-color: white;
    
    
}

.h-spacer{
    height: 50px;
}

.badge{
    width: 300px;
    height: 300px;
    background-color: white;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -ms-flexbox-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

    .c-badge{
        
    
    
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -ms-flexbox-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    }

    .b-desc{
        height: 300px;
    }

    .projects{
        margin-right: 1em;
        margin-left: 1em;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        -ms-flexbox-justify-content: space-around;
        -webkit-justify-content: space-around;
            justify-content: space-around;
        -ms-flexbox-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
     }   

        .Haffee{
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            background-color: white;
            width: 37rem;
            -ms-flexbox-direction:column;
            -webkit-flex-direction:column;
            flex-direction: column;
            -ms-flexbox-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
        .S-Parcking{
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            background-color: white;
            width: 37rem;
            -ms-flexbox-flex-direction:column;
            -webkit-flex-direction:column;
            flex-direction: column;
            -ms-flexbox-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
        .Securo{
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;
            background-color: white;
            width: 37rem;
            -ms-flexbox-flex-direction:column;
            -webkit-flex-direction:column;
            flex-direction:column;
            -ms-flexbox-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

.warning{
    color: white;
    font-family: helvetica;
    font-size: 1em;
    margin-bottom: 0em;
    
}